.badge,
button {
    width: 100%;
}

.button {
    --slds-c-button-radius-border: 15rem;
    display: grid;
}

.customBadge {
    --slds-c-badge-color-background: #ffb24914;
    --slds-c-badge-color-border: #ffb249;
}
